.auth-container{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background-image:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
background-size:cover;
background-position:center;

}

.auth-overlay{

background:rgba(0,0,0,0.6